h2 {
  font-size: 2.5em;
}

h2:empty {
  display: none;
}

h3, .h3 {
  font-size: 1.8em;
}

.img-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#homepage-blog {
  width: 50%;
  float: left;
}

#homepage-portfolio {
  width: 50%;
  float: right;
}

.blog-byline-container {
  overflow: hidden;
}

h6.blog-byline {
  float: left;
  margin-top: 5px;
}

.blog-commentsocial {
  float: right;
  width: 300px;
}

.blog-commentcount {
  float: left;
  display: block;
}

.blog-social {
  float: right;
}

div.navbar.navbar-fixed-top {
  background-color: #000;
}

a.navbar-brand {
  font-size: 160%;
}

.navbar-fixed-top p.navbar-text {
  padding-top: 5px;
  float: left;
}

div.navbar-inner form.navbar-form.navbar-right {
  margin-right: 0px;
}

.tree .active>a {
  background-color: #33b5e5;
}

footer {
  background-color: #000;
  text-align: center;
  font-size: 80%;
}

.disabled,
.disabled a {
  color: #999;
}

.form-group input {
  height: auto !important;
}

.form-actions {
  background-color: transparent;
  border: none;
}

/* Pagination */
.pagination li {
  list-style: none;
  display: inline;
}

.pagination li.active>a {
  color: white;
  font-weight: bold;
}

.pagination .page-info {
  display: block;
}

.pagination {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 100%;
  text-align: center;
}

/* Collapsible Archive */
.blog-archive-list {
  display: none;
  margin-top: 0;
  padding-left: 20px;
}

.blog-archive-div h6 {
  font-size: 115%;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 3px;
  cursor: pointer;
}

/* Right side bar */
.right .panel {
  padding-left: 5px;
}

.right .panel ul li {
  margin-left: 20px;
  list-style-type: circle;
}

.right .panel ul.tag-cloud {
  margin-left: 0;
  padding-left: 2px;
}

.right .panel ul.tag-cloud li {
  list-style-type: none;
  white-space: nowrap;
  display: inline;
  margin-left: 0;
  padding-right: 4px;
}

blockquote p {
  font-size: 14px;
  margin-bottom: 12px;
}


/** Code highlighting */
code {
  background-color: #333;
  color: #93a1a1;
}

table.codehilitetable {
  width: 100%;
}

td.linenos {
  vertical-align: top;
  min-width: 38px;
}

td.code {
  width: 100%;
}

td.linenos pre, td.code pre, div.codehilite pre {
  background-color: #333;
  border: 1px solid #444;
  color: #93a1a1;
}

div.codehilite {
  margin-bottom: 15px;
}

div.codehilite pre {
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  margin-bottom: 0;
}

/* Admin */
div.wmd-preview {
  margin-top: 0;
}
